POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
TF_STATE_PATH=

GROQ_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TZ=

SMTP_SERVER=
SMTP_PORT=
SENDER_EMAIL=
SENDER_PASSWORD=
RECIPIENT_EMAIL=

SLACK_WEBHOOK_URL=